API_HOST="127.0.0.1"
API_PORT=8000

PIXABAY_API_KEY=".env.stock_resource"
PIXABAY_API_URL="https://pixabay.com/api/"
PIXABAY_VIDEO_API_URL="https://pixabay.com/api/videos/"

PEXELS_API_KEY=""
PEXELS_API_URL="https://api.pexels.com"