# CLIENT-1
CLIENT_CONFIGS_1_MODEL=""
CLIENT_CONFIGS_1_API_KEY=""
CLIENT_CONFIGS_1_PROXY_HTTP=""
CLIENT_CONFIGS_1_BASE_URL=""

# CLIENT-2
CLIENT_CONFIGS_2_MODEL=""
CLIENT_CONFIGS_2_API_KEY=""
CLIENT_CONFIGS_2_PROXY_HTTP=""
CLIENT_CONFIGS_2_BASE_URL=""

# CLIENT-3
CLIENT_CONFIGS_3_MODEL=""
CLIENT_CONFIGS_3_API_KEY=""
CLIENT_CONFIGS_3_PROXY_HTTP=""
CLIENT_CONFIGS_3_BASE_URL=""